.body{
  align-items: center;
  flex-direction: row;
  display:flex;
}
.container{
  display:flex;
  justify-content: center;
  align-items: center;
  
}
.flex__card{
  margin: 1rem 1rem 1rem 1rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
#email{
  width: 70%;
  font-size:15px;
  padding:10px;
  margin:0 12rem;
}
.card__google{
  border-radius: 0;
  border-width: medium;
  padding:.6rem 1.3rem;
  border-color: blue;
  color: blue;
  width: 45%;
  font-size:20px;
  padding:10px;
  margin:20px 11rem;
}
.card__google:hover{
  cursor:pointer;
  background-color: rgb(108, 92, 201);
}
.card__button
{
  width: 45%;
  font-size:20px;
  padding:10px;
  background-color: rgb(94, 18, 94);
  color: white;
  border:none;
  margin:20px 11rem;
  font-weight: 600;
  align-items: center;
  
  
}
.card__button:hover{
  cursor:pointer;
  background-color: rgb(145, 117, 173);
}
h3 {
  display: flex;
  flex-direction: row;
}
h3:before, h3:after{
  content: "";
  flex: 1 1;
  border-bottom: 1px solid;
  margin: auto;
}
h3:before {
  margin-right: 10px
}
h3:after {
  margin-left: 10px
}
.card__apple {
  border-width: medium;
  border-radius: 0;
  padding: .6rem 1.2rem;
  background-color: white;
  border-color: black;
  color: black;
  margin: 20px 5rem ;
  width: 45%;
  font-size:20px;
  padding:10px;
  margin:20px 11rem;
}
.card__apple:hover,
.card__apple:focus {
  border-color: #189582;
  background-color: #189582;
  color: white;
}

.card__title{
  text-align: center;
  font-weight: 700;
}
.card__subtitle{
  text-align: center;
  font-weight: 700; 
}
img{
  height: 5rem;
  align-items: center;
}
@media(max-width:767px){
  .card{
    flex-direction: column;
    margin:15px 10px;

  }
  .card__title{
    text-align: center;
    font-weight: 700;
    font-size: 2rem;
  }
  .card__subtitle{
    text-align: center;
    font-weight: 700; 
    font-size: 1rem;
  }
 .flex__card{
   flex-basis: 0;
 }
 .card__apple{
   font-size: 1.5rem;
   margin: 1rem .5rem;
   width: 100%;
 }
 .card__google{
  font-size: 1.5rem;
   margin: 1rem .5rem;
   width: 100%;
}
.card__button{
  font-size: 1.5rem;
  margin: 1rem .5rem;
  width: 100%;
}
#email{
  width: 100%;
  font-size:15px;
  padding:10px;
  margin:0 .5rem;
}

}